body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: #111111;
    overflow-x: hidden;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}

button {
    outline: none;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #111111;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b9b9b9;
}

/* Container */

.container {
    width: 100%;
    max-width: 964px;
    margin: 0 auto;
}

/* Header */

.header {
    margin-top: 50px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
}

.nav__item {
    position: relative;

    text-decoration: none;
    color: #ffffff;
}

.nav__item::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 1px;
    background: #FFFFFF;
    transition: .3s;
}

.nav__item:hover::after {
    width: 100%;
}

.nav a {
    margin-left: 70px;
}

/* Intro */

.intro {
    margin-top: 120px;
    margin-bottom: 70px;
}

.intro__inner {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.intro__subtitle, .intro__title {
    text-align: center;
}

.intro__subtitle {
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;


    color: #007BC0;
}

.intro__title {
    font-size: 45px;

    line-height: 170%;
    text-align: center;

    color: #FFFFFF;
}

/* Exchange */

.exchange__inner {
    background: rgba(48, 48, 48, 0.3);
    backdrop-filter: blur(18px);
    border-radius: 25px;
}

.info__section__btn {
    text-align: center;
}

.exchange__inner__inner {
    border-radius: 25px;
}

.blur {
    margin-top: -1000px;
}

.blur__img {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.blur__img {
    z-index: -20;
    position: absolute;
    
}

.exchange__inner {
    backdrop-filter: blur(18px);
    border-radius: 25px;
    -webkit-backdrop-filter: blur(30px);
}

.exchange__inner__inner {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.exchange__inner__left {
    max-width: 33%;
}

.exchange__inner__left__inner__inner {
    padding: 30px;
    padding-left: 20px;
}

.exchange__inner__left__inner {
    background: #111111;
    border-radius: 20px;
}

.exchange__inner__item, .exchange__inner__item-1, .exchange__inner__item-2, .exchange__inner__item-3, .exchange__inner__item-4, .exchange__inner__item-5 {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 20px;
    transition: .3s;
    border-radius: 10px;
    cursor: pointer;
}


.exchange__inner__item__img {
    padding: 10px;
    padding-right: 15px;
}

.exchange__nav__item {
    margin-bottom: 20px;
}

.exchange__inner__item-5 {
    margin-bottom: 0;
}

.exchange__inner__item-1:hover, .exchange__inner__item-2:hover, .exchange__inner__item-3:hover, .exchange__inner__item-4:hover, .exchange__inner__item-5:hover {
    background: rgba(82, 82, 82, 0.2);
}

.exchange__nav {
    justify-content: space-between;
}

.exchange__nav__item.last {
    padding-right: 40px;
}

.exchange__inner__right {
    width: 64%;
    margin-left: 30px;
}

.exchange__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exchange__inner__right__inner {
    background: #111111;
    border-radius: 20px;
}

.exchange__inner__right__inner__inner {
    padding: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.exchange__inner__right__item__inner {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.exchange__inner__right__item__text {
    display: flex;
    align-items: center;
}

.exchange__inner__right__item-1, .exchange__inner__right__item-2, .exchange__inner__right__item-3, .exchange__inner__right__item-4, .exchange__inner__right__item-5, .exchange__inner__right__item-6, .exchange__inner__right__item-7, .exchange__inner__right__item-8, .exchange__inner__right__item-9 {
    display: flex;
    margin-bottom: 18px;

    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}

.exchange__inner__right__item__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exchange__inner__right__item__img {
    padding-right: 15px;
}

.exchange__inner__right__item-1:hover,  .exchange__inner__right__item-2:hover, .exchange__inner__right__item-3:hover, .exchange__inner__right__item-4:hover, .exchange__inner__right__item-5:hover, .exchange__inner__right__item-6:hover, .exchange__inner__right__item-7:hover, .exchange__inner__right__item-8:hover, .exchange__inner__right__item-9:hover {
    background: rgba(82, 82, 82, 0.2);
}

.exchange__inner__right__bottom__inner {
    padding-top: 30px;
    padding-bottom: 30px;
}

.exchange__inner__right__bottom__inner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    padding-left: 15px;
    padding-right: 15px;
}

.exchange__inner__right__bottom__link {
    padding: 10px 55px;
    font-weight: 600;
    font-size: 16px;
    line-height: 190%;
    text-decoration: none;
    

    color: #FFFFFF;

    background: #145A88;

    border-radius: 15px;
    transition: .3s;
}

.exchange__inner__right__bottom__link:hover {
    background: #007BC0;
}


.exchange__inner__left__inner {
    position: sticky;
    top: 0;
}

.exchange__inner__right__item__img {
    max-width: 52px;
    max-height: 52px;
}

/* Footer */

.footer {
    margin-top: 100px;
    margin-bottom: 100px;
}

.footer__inner {
    text-align: center;
    justify-content: center;
}

.blur {
    display: none;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__inner__text {
    margin-bottom: 30px;
}

/* Text */

.text {
    margin-top: 140px;
}

.text__inner__title {
    margin-bottom: 30px;

    font-weight: 600;
    font-size: 45px;

    color: #FFFFFF;
}

.text__inner__text {
    width: 65%;
    margin-bottom: 50px;

    line-height: 220%;
}

.info__section__1__left, .info__section__1__right {
    display: flex;
    align-items: center;
}

.info__inner {
    border-radius: 25px;
    background: rgba(82, 82, 82, 0.2);
    backdrop-filter: blur(18px);
}

.info__section__1__token {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.info__section__1__text {
    padding-left: 20px;
}

.info__section__1__name {
    padding-right: 20px;
}

.info__inner__inner {
    padding: 30px;
}

.info__section__1 {
    display: flex;
    align-items: center;
}

.info__section__1__left, .info__section__1__right {
    background: rgba(82, 82, 82, 0.2);
    backdrop-filter: blur(18px);

    border-radius: 15px;
}

.info__section__1__right {
    margin-left: 203px;
}

.info__section__2 {
    display: flex;
    align-items: center;
}

.info__section__2__left {
    display: flex;
    align-items: center;
}

.info__section__2__text {
    margin-right: 110px;
}

.info__section__2__input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #FFFFFF;

    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ffffff;
}

.info__section__2__input:focus {
    border: 0;
    outline: none;
    border-bottom: 1px solid #ffffff;
}

.info__section__2 {
    margin-top: 60px;
}

.info__section__2__right {
    display: flex;
    margin-left: 117px;
}

.info__section__rec {
    width: 100%;
    height: 1px;
    margin-top: 60px;
    margin-bottom: 60px;

    background: #292929;
}

.info__section__3 {
    display: flex;
}

.info__section__3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info__section__3__left {
    display: flex;
    align-items: center;
}

.info__section__3__text {
    margin-right: 60px;
}

.info__section__3__input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #FFFFFF;

    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ffffff;
}

.info__section__3__input:focus {
    border: 0;
    outline: none;
}

.info__section__3 {
    margin-top: 60px;
}

.info__section__3__right {
    display: flex;
    margin-right: 40px;
}

.info__section__4__wallet {
    display: flex;
    align-items: center;
}

.info__section__4__text:first-child {
    margin-right: 30px;
}

.info__section__4__text.wallet {
    margin-right: 10px;
}

.info__section__4__left {
    display: flex;
    align-items: center;
}

.copy {
    margin-left: 10px;
    cursor: pointer;
}

.info__section__btn, .info__section__link {
    font-size: 16px;
    border: none;
    color: #FFFFFF;
    padding: 12px 80px;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 15px;
    background: #145A88;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.info__section__btn {
    padding-top: 10px;
    padding-bottom: 10px;
}

.info__section__btn:hover, .info__section__link:hover  {
    background: #007BC0;
    text-decoration: none;
}

.info__section__link {
    display: block;
    margin-top: 20px;
    max-width: 100%;
    text-align: center;
}

.buttons {
    display: block;
    max-width: 28.5%;
    overflow: hidden;
    border-radius: 15px;
}

.info__section__1__token {
    max-width: 39px;
}

.info__section__link__link {
    border-radius: 15px;
}

/* Done */

.done {
    margin-top: 120px;
}

.done__inner {
    justify-content: center;
}

.info__section__link__link {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    padding: 12px 81px;
    height: 20px;
    margin-left: -80px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap
}

.done__text__wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

.done__title {
    text-align: center;
    cursor: pointer;
}

.done__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.done__title {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    color: #FFFFFF;
}

.done__text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 50%;

    font-weight: 400;
    line-height: 230%;
    text-align: center;
}

.done__title {
    margin-bottom: 30px;
    margin-top: 30px;
}

.done__link {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}

.exchange__inner__item-1.active, .exchange__inner__item-2.active, .exchange__inner__item-3.active, .exchange__inner__item-4.active, .exchange__inner__item-5.active, .exchange__inner__item-6.active, .exchange__inner__item-7.active, .exchange__inner__item-8.active {
    background: rgba(82, 82, 82, 0.2);
}

.exchange__inner__right__item-1.active, .exchange__inner__right__item-2.active, .exchange__inner__right__item-3.active, .exchange__inner__right__item-4.active, .exchange__inner__right__item-5.active, .exchange__inner__right__item-6.active, .exchange__inner__right__item-7.active, .exchange__inner__right__item-8.active, .exchange__inner__right__item-9.active {
    background: rgba(82, 82, 82, 0.2);
}

.exchange__inner__right__bottom__inner {
    display: flex;
    align-items: center;
}

.exchange__inner__right__bottom__text-2 {
    margin-right: 20px;
}

.info__section__5__right {
    display: flex;
}

.info__section__4 {
    display: none;
}

#rec {
    display: none;
}

.exchange__inner__right__bottom__text {
    display: flex;
}

.exchange__inner__right__bottom__text__arrow {
    margin-left: 10px;
    margin-right: 10px;
}

.info__section__2__text {
    margin-right: 60px;
}

.info__section__2__right {
    margin-left: 164px;
}

.info__section__1__wrapper {
    display: flex;
    align-items: center;
}

.text__inner__title {
    line-height: 200%;
}

.info__section__2__input {
    padding-bottom: 10px;
}

.info__section__3__right {
    align-items: center;
}

.exchange__inner__item-2 {
    padding-bottom: 0;
}

.exchange__inner__item__img {
    max-width: 62px;
}

.done__timer {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.info__section__2__input.invisible {
    display: none;
}


@media (max-width: 1000px) {

    .container {
        max-width: 880px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .info__section__link__link {
        padding: 13px 129px;
    }

    .exchange__inner__right__bottom__inner {
        display: block;
    }

    .exchange__inner__right__bottom__text {
        display: flex;
        margin-bottom: 40px;
    }

    .text__inner__title {
        font-size: 35px;
    }

    .info__section__1__left, .info__section__1__right {
        width: 100%;
    }

    .info__section__1__right {
        margin-left: 82px;
    }

    .info__section__2__right {
        margin-left: 160px;
    }

    .info__section__btn, .info__section__link {
        padding: 12px 62px;
    }

    .info__section__3__right {
        margin-right: 0;
    }
    
    .info__section__2__input {
        width: 170px;
    }

    .info__section__rec {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .buttons {
        width: 100%;
    }

    .text {
        margin-top: 80px;
    }

    .text__inner__title {
        margin-bottom: 10px;
    }

}


@media (max-width: 880px) {

    .exchange__inner__inner {
        display: block;
    }

    .info__section__link__link {
        padding: 13px 104px;
        margin-left: 0px;
    }

    .exchange__inner__left {
        width: 100%;
        max-width: 100%;
        margin-bottom: 50px;
    }

    .exchange__inner__right {
        width: 100%;
        margin-left: 0;
    }

    .intro__title {
        font-size: 30px;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .done__text  {
        max-width: 70%;
    }

    .exchange__inner__inner {
        padding: 25px;
    }

    .exchange__inner__right__inner__inner {
        padding: 15px;
    }

    .exchange__inner__left__inner__inner {
        padding: 15px;
    }

    .info__section__1__left, .info__section__1__right {
        display: block;
        width: 35%;
    }
    .info__section__1__wrapper {
        display: flex;
        align-items: center;
    }

    .info__section__1__text {
        padding-top: 10px;
    }

    .info__section__1__right {
        margin-left: 120px;
    }

    .info__section__2__right {
        margin-left: 0;
        margin-top: 40px;
    }

    .text {
        margin-top: 50px;
    }


    .info__section__3__text, .info__section__2__text  {
        margin-right: 40px;
    }

    .info__section__3__right {
        margin-right: 47px;
    }

    .info__section__btn, .info__section__link {
        padding: 12px 61px;
    }

    .info__section__2, .info__section__3 {
        display: block;
    }

    .info__section__3__right {
        margin-top: 40px;
    }

    .info__section__btn, .info__section__link {
        padding: 12px 0;
        width: 100%;
    }

    .text__inner__title {
        max-width: 60%;
    }

    .buttons {
        max-width: 300px;
    }
    
}

@media (max-width: 660px) {

    body {
        font-size: 14px;
    }

    .done__title {
        font-size: 16px;
    }

    .info__section__link__link {
        padding: 13px 52px;
        margin-left: 0px;
    }

    .info__section__2__input {
        width: 210px;
    }

    .done {
        margin-top: 90px;
    }

    .done__text  {
        width: 70%;
    }

    .exchange__nav__item {
        font-size: 16px;
    }

    .nav__item:first-child {
        display: none;
    }

    .intro {
        margin-top: 70px;
    }

    .footer {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .info__section__1 {
        display: block;
    }

    .info__section__1__right {
        margin-left: 0;
        margin-top: 30px;
    }

    .info__section__1__left, .info__section__1__right {
        display: flex;
        width: 60%;
    }

    .info__section__rec {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .info__section__3 {
        margin-top: 0;
    }

    .text__inner__text {
        width: 100%;

    }

    .text__inner__title {
        max-width: 90%;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .info__section__1__left, .info__section__1__right {
        display: flex;
        width: 80%;
    }

    .buttons  {
        max-width: 250px;
    }

    .info__section__3__right {
        margin-right: 0;
    }

    .copy {
        display: none;
    }

    .info__section__1__text {
        padding-top: 0;
    }

}

@media (max-width: 550px) {
    .info__section__1__left, .info__section__1__right {
        width: 100%;
    }
}

@media (max-width: 530px) {

    .exchange__nav__item.last{
        display: none;
    }

    .exchange__inner__right__item__value {
        display: none;
    }

}

@media (max-width: 480px) {

    .intro__title {
        width: 90%;
    }

    .intro__title {
        max-width: 100%;
    }

    .info__section__1__left, .info__section__1__right {
        width: 100%;
    }

    .exchange__inner__right__bottom__inner {
        padding-right: 0;
    }

    .info__section__3__left, .info__section__3__right {
        display: block;
    }

    .info__section__3__text, .info__section__4__text {
        margin-bottom: 20px;
    }

    .info__section__4__text.wallet {
        margin-bottom: 0;
    }

    .info__section__4__left {
        display: block;
    }

    .info__inner__inner {
        padding: 20px;
    }

    .buttons {
        max-width: 200px;
    }

}

@media (max-width: 400px) {

    .info__section__1__left, .info__section__1__right {
        display: flex;
        width: 90%;
    }

}